<h1>Team Randomizer</h1>
  <form action="/pick_random" method="POST">
    <div>
      <label for="message">Enter names:</label>
      <br>
      <textarea id="message" rows="4" cols="75" value="<%=@name%>" placeholder="Enter a list of names separated by a comma." name="names"><%= @names %></textarea>
    </div>
    <div>
      <label style="font-size: 18px">Method:</label>
      <input type="radio" name="method" value ="count" checked="checked"/>Team Count
      <input type="radio" name="method" value="num_per_team" />Number Per Team
    </div>
    <br>
    <div>
      <label for="team-count">Count: </label>
      <br>
      <input id="team-count" name="team_count" value="<%= @num_of_team %>"type="text" required>
    </div>
    <br>
    <div>
      <input class="submit" type="submit" value="Choose Teams" />
    </div>
  </form>

<div class="container">
<% if session[:arr_of_teams] == nil %>
  <p style ="margin-left: 15px" >Enter some names to get started!</p>
<% elsif session[:arr_of_teams][0].is_a? String %>
  <p style ="margin-left: 15px; color:red" >Invalid! Number of teams is greater than number of students entered.</p>
<% else %>
  <% session[:arr_of_teams].each do |x| %>
  <div class="team">
    <p>Team <%= session[:arr_of_teams].index(x)+1 %></p>
    <% x.each do |y| %>
      <li><%= y %></li>
      <% end %>
    </div>
    <% end %>
  <%end %>
</div>
